{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-md-center mt-5">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">
                    Room name: {{ room_name }}
                </h5>
                <div class="form-group">
                    <textarea disabled class="form-control" id="chat-log" cols="100" rows="20"></textarea>
                </div>
                <div class="form-group">
                    <input class="form-control" id="chat-message-input" type="text" size="100"/>
                </div>
                <input class="btn btn-primary" id="chat-message-submit" type="button" value="Send"/>
            </div>
        </div>
    </div>
</div>

<script>
    var roomName = {{ room_name_json }};

    var chatSocket = new WebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/');

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        var message = data['message'];
        document.querySelector('#chat-log').value += (message + '\n');
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message
        }));

        messageInputDom.value = '';
    };
</script>
{% endblock %}